[Desktop Entry]
Encoding=UTF-8
Name=Link to Navigation bar
Type=Link
URL=https://elearn.ellak.gr/pluginfile.php/8374/mod_book/chapter/3644/boot2_01.PNG
Icon=text-html
